<div class="login">
  <div class="login-inner">
    <mat-toolbar>Login</mat-toolbar>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
        <mat-error class="error-message" *ngIf="formControls.username.invalid">{{getUsernameMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error class="error-message" *ngIf="formControls.password.invalid">{{getPasswordMessage()}}</mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary">Login</button>
    </form>
  </div>
</div>
