<div class="add-task">
  <mat-toolbar>Add task</mat-toolbar>
  <form [formGroup]="createForm" class="add-form" (ngSubmit)="createTask()">
    <mat-form-field>
      <input matInput placeholder="Task name" formControlName="name">
      <mat-error class="error-message" *ngIf="formControls.name.invalid">{{getNameMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Task description" formControlName="description">
      <mat-error class="error-message" *ngIf="formControls.description.invalid">{{getDescriptionMessage()}}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary">Add task</button>
  </form>
</div>
