<mat-list>
  <h2>Todo List</h2>
  <mat-list-item *ngFor="let task of tasks" [ngClass]="{completed: task.complete}" (click)="updateTask(task.id)" class="list-item">
    <mat-checkbox color="primary" [checked]="task.complete">{{task.name}}</mat-checkbox>
    <button mat-flat-button color="primary" (click)="openTask(task.id)">More</button>
    <button mat-flat-button color="primary" (click)="deleteTask(task.id)">Delete</button>
  </mat-list-item>
</mat-list>
<app-add-task (task)="addTask($event)"></app-add-task>
